# After logging into your Reddit account,
# redirect to https://www.reddit.com/prefs/apps
#
# Here, you'll create your Reddit application that
# this Reddit Clone app will interface with.
#
# After creating Reddit application, you'll get
# REDDIT_CLIENT_ID and REDDIT_CLIENT_SECRET values.
#
# Finally, replace all the placeholder values below.

REDDIT_CLIENT_ID=your-reddit-client-id
REDDIT_CLIENT_SECRET=your-reddit-client-secret
REDDIT_USERNAME=your-reddit-account-username