/***********************************************************************************************************/
/***********************************************************************************************************/
/************** STYLING for the image containers (for both gallery and single image) ***********************/
/***********************************************************************************************************/
/***********************************************************************************************************/

/* GENERAL styling for images containers */
.image-container, .gallery-container { 

    width: 100%;   /* Fits, with some white space, in parent post element */
    height: auto;
  
    display: flex;  /* Centers video/image(s) inside container horizontally */
    justify-content: center;
  
    margin: 1rem auto 0 auto; /* Horizontally centers THIS container itself. */
}


/* STYLING if container holds gallery of images*/
.gallery-container { 
    position: relative; /* Enables absolute position in child components. 
                           VERY IMPORTANT for indicator orbs and left/right buttons. */
  
    background-color: #9c9c9c86; /* Adds background color styling for gallery*/
    border: 1px solid rgba(122, 122, 122, 0.445);
    border-radius: 1rem;
  } 
  
.gallery-container img { /* Ensure that nested <img> will scale to parent .gallery-container */
    height: 100%; 
    max-width: 100%; 
    overflow: hidden;
    object-fit: contain;
}
  
/* STYLING if container holds 1 image*/
.image-container { 
    width: 100%;
  /*  max-height: 500px; /**/
    background-color: #2e2626af; /* Adds contrasting background color around single iamge*/
    border: 1px solid rgba(110, 110, 110, 0.445);
    border-radius: 0.5rem;
  
    object-fit: contain;
    /*overflow: hidden; /* hide spillover if needed */
} 
  
.image-container img {
    max-height: 400px; /* Prevents image from being too tall */
    max-width: 100%;   /* scales image to prevent exceeding container width*/
}


/* Centers and contains actual post image in all gallery/image containers */
.post-image  { 
/*    max-height: 500px; 
      max-width: 100%; 
      object-fit: contain; */
  

    display: block;       /* avoid inline gaps */
    margin: auto auto;       /* horizontally centers img*/
}
  
  
/*** PREV/NEXT button styling for gallery ***/
  
/* GENERAL styling for both prev/next buttons */
.prev, .next { 
  
    cursor: pointer;    /* 'pointer' to click on arrow */
    position: absolute; /* enables buttons to 'float' on image edges */
  
    top: 50%;     /*top and tranform helps vertically center arrow */
    transform: translateY(-50%); 
  
    color: white;   /* Arrows are white and bold */
    font-weight: bold;
    font-size: 2rem;
  
    padding: 0 0.45rem; /*padding and bg color around arrows */
    background-color: rgba(0, 0, 0, 0.4);
}
  
/* SPECIFIC styling for both prev/next buttons */
.prev {
    border-radius: 0px 7px 7px 0px; 
    left: 0px; 
}
.next {
    border-radius: 7px 0px 0px 7px; 
    right: 0px;
} 
  
.prev:hover, .next:hover { /* Styling for hovering on prev/next buttons */
      background-color: rgba(0,0,0,0.8);
      transition: background-color 0.3s ease;
}
  
/* STYLING for container of indicator orbs*/
.orbs { 
      position: absolute; /* Used to help move 'orbs' to bottom edge of image */
      bottom: 10px;       /* margin from image bottom*/
      
      display: flex; /* used to vertically center orbs in orbs container */
  
      left: 50%;                      /* center from left */
      transform: translateX(-50%);    /* shift back half width for perfect center */
  
      background-color: rgba(73, 73, 73, 0.692); /* background around */
      border-radius: 1rem;
      padding: 6px 6px;
      z-index: 3;
}
  
/* ALL STYLING for the orb indicators themselves */
.orb, .orb-active {
      cursor: pointer; /* Highlight click on orb to switch images */
  
      height: 20px; /* For styling orb shape*/
      width: 20px;
      margin: 0 2px;
      border-radius: 50%;
  
      display: inline-block; /* orb display and visual transition*/
      transition: background-color 0.6s ease;
}
    
.orb { background-color: #717171; } /* unselected orb*/
  
.orb-active, .orb:hover { background-color:  #bbb; } /* selected or hovered orb */

/* Finally, add 'fade' effect when switching images in gallery */
.fade { 
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to   {opacity:  1}
}


/***********************************************************************************************************/
/***********************************************************************************************************/
/************ STYLING for the video containers (for both Reddit and external embeds) ***********************/
/***********************************************************************************************************/
/***********************************************************************************************************/

.video-container { /* Style the video container */

    width: 100%;   /* Fits, with some white space, in parent post element */
    height: auto;
  
    display: flex;  /* Centers video/image(s) inside container horizontally */
    justify-content: center;
  
    margin: 1rem auto 0 auto; /* Horizontally centers THIS container itself. */
}

.video-container { /* Background color container around video */
    background-color: #161616af; /* Adds background color for space around video */
    border: 1px solid rgba(15, 15, 15, 0.596);
    border-radius: 0.5rem;
  
    max-height: 400px;/*500px; /* Max height constraint (prevent videos from being over 500px tall when displayed) */
    align-items: center;
    overflow: hidden; /* Clip overflow if needed */
}

/* Centers and contains video inside parent .video-container */
.reddit-video {
    width: 100%;           /* fill container width */
    height: auto;          /* maintain aspect ratio */
    max-height: 400px;     /* cap at 400px */
    object-fit: contain;   /* contains object in parent container */
    border-radius: 0.5rem; 
    display: block; /* removes odd thin white space(s) around video */
}

/* Styling for video posts that use external embedded vids */
.embedded-video-wrapper {
    position: relative;
}
  
.embedded-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
  

/***********************************************************************************************************/
/***********************************************************************************************************/
/************* STYLING for the link containers (for holding embbed external links) *************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

.link-container { /* simlar to previous containers */
        width: 80%;   /* Fits, with some white space, in parent post element */
        /*height: auto; */
      
        display: flex;  /*flex layout with childs in column */
        flex-direction: column;
      
        margin: 1rem auto 0 auto; /* Horizontally centers THIS container itself;
                                     And some margin from top. */

        border-radius: 2rem; /* border styling */
        border: 3px solid rgba(0, 0, 0, 0.3) ;
        background-color: #456f85; /* combines with partly opaque border*/        
        overflow: hidden; /* Keeps image corners out of sight*/  

}

.link-preview {
    width: 100%; /* link preview image container matches 
                    parent container width */
    max-height: 400px;
}

.link-preview img {
    width: 100%;     /* keeps img within parent container */
    display: block;  /* removes awakward spacing between .link-preview 
                        and .link-box components */
}

.link-box {
    height: 35px;      /* height of link info box*/
    width: 100%;       /* matches parent width*/
    padding: 0.5rem 0; /* pads top and bottom of link-box */

    display: flex;     /* child items are place in row (next to each other) */
    flex-direction: row;
    justify-content: space-between;/* ensures space between items 
                                      (used in conjuction with child item margins) */
    align-items: center; /* vertically centers items */

    background-color: rgba(172, 172, 172, 0.92); /* semi-transparent background */
}

.link-domain {
    margin-left: 10%; /* 10% of link-box width distance 
                         from left edge (for responsiveness)*/    

    font-size: 1.2rem; /* text/font styling*/
    color: #273035;
    font-weight: 500;
}

.link-button {
    margin-right: 10%;   /* 10% of link-box width distance 
                            from right edge (for responsiveness)*/    

    background-color: rgb(206, 206, 206); /* button color*/
    padding: 0.3rem 0.3rem; /* adds to button size */

    border-radius: 1.75rem; /* button border styling */
    border: 2px solid #161924d8; 
    box-shadow: 0px 1px 3px rgb(32, 32, 32);

    color: black;       /* button text color/styling */
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none; /* no default underline from links */
}

.link-button:hover{
    cursor: pointer;                        /* pointer cursor on hover */
    color: rgb(211, 211, 211);            /* button text color on hover */
    background-color: rgb(41, 41, 41);    /* button color on hover */
    box-shadow: 0px 0px 5px rgb(0, 0, 0); /* show around button for emphasis on hover*/
}

.link-button:active {
    transform:scale(0.9); /* shrinks button on click for press effect*/
}

/***********************************************************************************************************/
/***********************************************************************************************************/
/************* STYLING external embedded link NOT found via post_hint='link' *******************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

.external-embedded-link {

    /* Url's font styling */
    font-size: 1.5rem;        
    color: rgb(76, 135, 212);
    font-weight: bold;

    /* Margins above/below url text */
    margin: 1rem auto;

    /* Text wrapping and overflow handling  */
    white-space: nowrap;     /* prevent url wrapping */
    overflow: hidden;        /* hide overflow of url link text */
    text-overflow: ellipsis; /* show "..." at the end of overflowing url link */

    cursor: pointer;   /* Shows that link is clickable */
}

.external-embedded-link:hover { /* styling on hover */
    color: rgb(197, 40, 118);
    text-decoration: underline;
}
