/*************************************************************************************/
/************** General styling for Search Header Bar ********************************/
/*************************************************************************************/

.search-header { /* General styling for eader bar*/

    top:0; left:0; /* used to remove white space from top-left*/

    height: 60px;/*10vh; /* height just matches with subreddit menu */

    position: fixed; /* Enables search Bar to float */
    z-index: 10;     /* floats search bar above below components*/
    width: 100%;     /* search bar header matches screen width */
    background-color: rgb(255, 186, 129);
    box-shadow: 0 3px 10px rgba(46, 46, 46, 0.5);

    display: flex;   /* Needs for centering child components/items */
    justify-content: space-between; /* ensure spacing between elements via flex */
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}


/*************************************************************************************/
/************** Logo styling in Search Header Bar ************************************/
/*************************************************************************************/

.reddit-logo { /* logo container styling */
    margin: auto auto 0.2rem 0.8vw; /* sets all margins */
    display: flex;
    flex-direction: row;
}

.icon img { /*logo/icon image styling */
    border-radius: 50%;
    background-color: beige;
    width:  2.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-name { /* App/logo name styling */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.logo-name::after { /* Adds styled text with ::after */
    content:'Minimal';
    color: blue;
}

@media screen 
and (max-width: 934px) { /* Wrap logo text to make more room */
    .logo-name { 
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        text-align: left;
        margin-left: 2px;
    }
}

@media screen 
and (max-width: 690px) { /* Remove logo name text at <=690px */
    .logo-name{
        display: none;
    }
}


/*************************************************************************************/
/***** Styling for Search Box Area (current subreddit, text box, and button) *********/
/*************************************************************************************/

.search-box-area {
    display: flex; /* Flex display and row orientation*/
    flex-direction: row;

    height: 2rem; /* height of search-box*/

    align-self: center; /* vertically centers area (on flex) */
    width: auto;        /* adjusts to content */
    margin: auto;

    border-radius: 1.5rem; /* shadow wraps found search box area */
    box-shadow: -1px 1px 6px rgba(46, 46, 46, 0.5);
}


.search-box-area .current-subReddit {

    display: flex; /* Uses flex to horizontally & vertically 
                      center current subreddit name/permalink */
    align-items: center;
    justify-content: center;

    border-right: 0; /* Border and background styling*/
    border: 1px solid #cccccc; 
    border-radius: 1.5rem 0 0 1.5rem;
    background-color: #cccccc;

    padding-left: 1rem; /* Ensure subbreddit name fits container */
    padding-right: 0.5rem;
    width:fit-content; 
    
    font-size: medium;/*larger; /* Subreddit name styling*/
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
    .search-box-area .current-subReddit {
        font-size: small;/*medium; /* Subreddit name styling*/
    }
}

@media screen and (max-width: 612px) { /* At this width, 'hide' current subreddit's name 
                                          from search bar to save space*/
    .search-box-area .current-subReddit {
        max-width: 0;
        opacity: 0;
        padding: 0;
        overflow: hidden;
        border: none;
    }
    .search-input-box {
        border-radius: 1rem 0 0 1rem;
        padding-left: 1rem;
    }
}

.search-box-area .search-input-box {
    width: 150px;       /* Search input box width */
    padding: 0 0 0 0.7rem; /* keeps typing area from edges */

    border-left: 0; /* border styling of text box */
    border-right: 0;
    border-top: 1px solid  #cccccc; 
    border-bottom: 1px solid  #cccccc; 
}

@media screen 
and (max-width: 370px) { /* Shrink text area to fit mobile screen sizes*/
    .search-box-area .search-input-box {
        width: 120px;
    }
}


.search-box-area .search-input-box:focus {
    outline: none;   /* Removes the black browser-default outline on focus */
} 

.search-box-area button { /* Styling of submit search button */
    border-radius: 0 1.5rem 1.5rem 0;
    border-left: 0;
    border: 1px solid  #cccccc; 
    cursor: pointer;
}

/*************************************************************************************/
/************ Styling for Menu Opener/Closer Toggle button ***************************/
/*************************************************************************************/

@media screen 
and (min-width: 768px) {  /* Menu toggle ONLY visble under 768px width */
    .menu-toggle, .menu-toggle.closed {
        display: none;
    }
}

@media screen 
and (max-width: 767px) { /* Styling for menu once visible under 768px width. */
    .menu-toggle { /* menu toggle when opened */

        display: flex; /* flex display so nested <span> can be centered*/
        justify-content: center;
        align-items: center;
        position: relative; /* for for absolute postion centering of 'hamburger' symbol */

        width: 2.5rem; /* menu-toggle button dimensions */
        height: 2.5rem;
        margin: auto;

        font-size: 2rem; /* font styling */
        color: black;
        
        text-align: center; /* centers text (horizontally) */

        border-radius: 0.5rem; /* border styling*/
        background-color: #cccccc;
        border: 1px solid #7d7d7dc0;
        box-shadow: 0px 1px 3px #5e5e5ec5;

        cursor: pointer;
    }
    .menu-toggle:hover { /* hover style over opened menu button */
        color: beige;
        background-color: #888888;
        border: 1px solid #7d7d7dc0;
    }

    .menu-toggle:active, .menu-toggle.closed:active { /* button shrinks on press */
        transform: scale(0.9);
    }

    .menu-toggle span, 
    .menu-toggle.closed span { /* centers hamburger symbol*/
        position: absolute;
        bottom: 0px;
    }

    .menu-toggle.closed { /* Additional styling when closed*/
        background-color: #ff8e64;
        border: 1px solid #ff631b;
        box-shadow: 0px 1px 3px #8b510dc5;
    }
    .menu-toggle.closed:hover { /* When hovering over close menu button */
        color: black;
        background-color: #fa6f1e;
        border: 1px solid #e24f0a;
    }
}


/*************************************************************************************/
/***** Styling for Clear Search Button (empties search and returns all posts) ********/
/*************************************************************************************/

.clear-search { /* Styling of clear search button */
    margin: auto; /* centering*/

    height: 2rem; /* Shape and colors of clear-search button*/
    border-radius: 1.5rem; 
    border: 1px solid #cccccc;
    background-color: #cccccc;
    box-shadow: -1px 1px 8px rgba(46, 46, 46, 0.5);

    font-size: medium;  /* Styling of button text font */
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    white-space: nowrap; /* Prevents button name from wrapping */

    align-self: center; /* Vertical centering of button */
}

.clear-search::after {  /* Makes full 'Clear Search' term */
    content: ' Search';
}

@media screen and (max-width: 420px) {  /* Removes word 'Search' from 'Clear Search' 
                                           to just 'Clear' to save space on mobile sizes. */
    .clear-search::after {
        content:'';
    }
}

.clear-search:hover { /*Styles button on hover */
    border: 1px solid #afafaf;
    background-color: #afafaf;
    color:beige;
    cursor: pointer;
}

.clear-search:active { /* styles button on press*/
    cursor: pointer;
    transform: scale(0.9);
}