.menu-plus-posts { 

    display: flex; /* menu and post container in row orientation*/
    flex-direction: row;

    margin: 0; /* Removes margin/padding and fits parent container(<body>)*/
    padding: 0 ;
    width: 100%;
}