/*********************************************************************************************************/
/*************** Main styling for the sub-Reddits menu ***************************************************/
/*********************************************************************************************************/

.subreddits-menu {
    font-weight: 500; /* Font style and size */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
    background-color: #fff;

    width: 25vw; /* At 25% of viewport (responsive to viewport width changes) */
    min-width: 200px; /* won't shrink below this */

    padding-top: 60px;/*8.5vh; /* ensures no overlap with above search bar header, by matching it's height */
    height: 90vh;    /* ensured vertical scrolling height within view port 
                        (leave space at top for search bar header */
    position: fixed; /* keeps menu floating on left */ 
    left: 0;         /* removes white space from left */

    display: flex;   /* flex and column display makes menu vertical */
    flex-direction: column;

    box-shadow: 1px 2px 10px rgba(46, 46, 46, 0.5); /* Shadow on right-edge to make menu 'pop' */

    transition: transform 0.1s ease; /* For smooth transition of sliding menu (for < 768px width) */
    z-index: 5; /* menu floats above posts but NOT above the header menu (in searchHeader.css)*/
}

.subreddits-menu.closed { transform: translateX(-100%);}


#subreddits-header { /* Header of subReddits menu */
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: beige;
    text-indent: 0.8rem;
}

.subreddits-menu .subreddits-container { /* holds the subreddits menu items */
    width: 100%;        
    overflow-y: auto;   /* Adds vertical scroll if menu exceeds page*/
    overflow-x: hidden;
}

.subreddit-item, .subreddit-item-clicked { /* Styliing makes icon and sub-Reddit name placed horizontally 
                                              Also, this is common styling before and after click */

    align-items: center; /* centers text horizontally */
    border-bottom: 2px solid rgba(182, 182, 182, 0.603); /* bottom border to visually divide*/


    padding: 0.7rem 0 0.7rem 0.7rem;   /* padding around subreddit options (except for right) */ 

    transition: .25s;  /* 0.25s until highlight */ 
    

    display: flex;     /* flex row ensures text next to icon */
    flex-direction: row;

    cursor: pointer; /* pointer cursor on hover*/
}

.subreddit-item {         /* Transparent when unselected */
    background-color: transparent;
}

.subreddit-item-clicked { /* Bright peach color when unselected */
    background-color: rgb(248, 189, 116);
}

.subreddit-item:hover {   /* Light peach color when hovering option */
    background-color: rgb(250, 217, 177);
}


.icon-img {
    width: 30px;          /* icon sizing */
    height: 30px;
    border-radius: 50%;   /* make icon border circular */
    margin-right: 0.5rem; /* space from text */
}

.subReddit-title {
    font-size: 1.75vw; /* Adjusted font width to fit sub Reddit menu options container */
}

/* Fixes menu-font size to stop menu options text from shrinking due to 
   .subreddits-menu { width: 25vw;..} making text too small. at under 800px screen width,
   and to maintain consistency at 200px min-width of menu.  */
@media screen and (max-width: 800px) {
    .subReddit-title {
        font-size: 0.86rem; 
    }
}

@media screen and (max-width: 767px) { /* Adjust side menu width and font-size for tablet size */
    .subReddit-title { 
        font-size: clamp(0.875rem, 2.28vw, 1.15rem);
    } 
    .subreddits-menu {
        width: 33vw !important;
    }
}

@media screen and (max-width: 375px) { /* Menu takes full width for mobile screen size */
    .subReddit-title { 
        font-size: 1.5rem;
    } 
    .subreddits-menu {
        width: 100vw !important;
        min-width: none !important;
    }
}

/*********************************************************************************************************/
/************** Stylings for the Error and Loading notices components ************************************/
/*********************************************************************************************************/

.subReddits-error-notice { /* Basic styling for Error notice container */
    display: flex;
    flex-direction: column;
    width: 94%;
    border: 1px solid #bbbbbb;
}

