
.subreddits-menu {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font style and size */
    font-weight: 500;

    background-color: #fff;

    width: 280px;    /* width and height of sub-Reddits menu*/
    height: 91vh;    /* ensured vertical scrolling height within view port*/

    display: flex;   /* flex and column display makes menu vertical */
    flex-direction: column;
}

.subreddits-menu h3 {
    margin-left: 0.8rem; /* Subreddits menu header positioning*/
}

.subreddits-menu .subreddits-container { /* holds the subreddits menu items */
    width: 100%;        
    overflow-y: auto;   /* Adds vertical scroll if menu exceeds page*/
    overflow-x: hidden;
}

.subreddit-item, .subreddit-item-clicked { /* Styliing makes icon and sub-Reddit name placed horizontally 
                                              Also, this is common styling before and after click */

    align-items: center; /* centers text horizontally */
    border-bottom: 2px solid rgba(182, 182, 182, 0.603); /* bottom border to visually divide*/

    cursor: pointer; 

    padding: .7rem;   /* spacing between item containers */  
    transition: .3s;  /* 0.3s until highlight */ 
    width: 100%;      /* matches parent container's width*/

    display: flex;     /* flex row ensures text next to icon */
    flex-direction: row;
}

.subreddit-item {         /* Transparent when unselected */
    background-color: transparent;
}

.subreddit-item-clicked { /* Bright peach color when unselected */
    background-color: rgb(248, 189, 116);
}

.subreddit-item:hover {   /* Light peach color when hovering option */
    background-color: rgb(250, 217, 177);
}


.icon-img {
    width: 30px;          /* icon sizing */
    height: 30px;
    border-radius: 50%;   /*make icon border circular*/
    margin-right: 0.5rem; /* space from text */
}

